/* Navbar.css */
.navbar-contain {
    padding: none;
    transition: background-color 0.5s ease;
    box-shadow: 0 2px 5px rgb(157, 157, 157);
  }
  
  .navbar-contain.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff; /* Add a background color when the navbar becomes sticky */
    z-index: 1000;
    box-shadow: 0 2px 5px rgb(119, 114, 114);
  }
  
  /* Add your additional styling as needed */
  